
/* GLOBAL */
	/*variables*/
$cover:cover;
$cta-height:330px;
$yellow:#efc337;
$beige:#f0eee5;

@mixin background-size($cover){
	-webkit-background-size: $cover;
	-moz-background-size: $cover;
	-o-background-size: $cover;
	background-size: auto $cover;
}
.bkg-position{
	@include background-size($cover);
	background:top center scroll no-repeat;
}
/* LAYOUT */

	/*introduction*/
#introduction{
	background-color: $beige;
	padding-top: 20px;
}
	/*call-to-action*/
.call-to-action{
	height: $cta-height;
	background-color: $yellow;
}
/* NAVIGATION */
.navbar{
	margin-bottom: 0 !important;
}
/* VIDEO */

/*Media Queries*/

/*Small Devices*/
@media (min-width: 768px) {
	/* Styles */

}/* End of Media Query */

/*Medium Devices*/
@media (min-width: 992px) {
	/* Styles */
 
}/* End of Media Query */

/*Large Devices*/
@media (min-width: 1200px) {
	/* Styles */
 
}/* End of Media Query */

/*Extra Large Devices*/
@media (min-width: 1824px) {
  /* Styles */

}/* End of Media Query */


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}