/*FONTS*/
@font-face {
  font-family: 'norwesterregular';
  src: url("../fonts/norwester-regular-webfont.eot");
  src: url("../fonts/norwester-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/norwester-regular-webfont.woff2") format("woff2"), url("../fonts/norwester-regular-webfont.woff") format("woff"), url("../fonts/norwester-regular-webfont.ttf") format("truetype"), url("../fonts/norwester-regular-webfont.svg#norwesterregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'celesteregular';
  src: url("../fonts/celesteregular-webfont.eot");
  src: url("../fonts/celesteregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/celesteregular-webfont.woff2") format("woff2"), url("../fonts/celesteregular-webfont.woff") format("woff"), url("../fonts/celesteregular-webfont.ttf") format("truetype"), url("../fonts/celesteregular-webfont.svg#celesteregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'freesansmedium';
  src: url("../fonts/freesans-webfont.eot");
  src: url("../fonts/freesans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/freesans-webfont.woff2") format("woff2"), url("../fonts/freesans-webfont.woff") format("woff"), url("../fonts/freesans-webfont.ttf") format("truetype"), url("../fonts/freesans-webfont.svg#freesansmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
/* GLOBAL */
/*variables*/
/*fonts*/
/*font styles / colours*/
.wht-font {
  color: #ffffff; }

.nor-font {
  font-family: "norwesterregular";
  letter-spacing: 1px;
  text-transform: capitalize; }

.bold {
  font-weight: 550; }

.grey-font {
  color: #73797e; }

.blk-font {
  color: #313335; }

.celeste-font {
  font-family: "celesteregular"; }

.freesans-font {
  font-family: "freesansmedium"; }

/*button styles*/
.btn-blk {
  padding: 10px 20px;
  background-color: #313335;
  color: #ffffff; }

.btn-blk:hover {
  color: #ffffff !important; }

.btn-gry {
  padding: 10px 20px;
  border: #73797e 2px solid;
  color: #73797e; }

.btn-gry:hover {
  color: #73797e !important; }

.btn-ylw {
  padding: 10px 20px;
  background-color: #efc337;
  color: #313335; }

.btn-ylw:hover {
  color: #313335 !important; }

p {
  font-size: 16px; }

strong {
  letter-spacing: 1px; }

/*general*/
.bkg-light-grey {
  background-color: #f4f4f4; }

.bkg-position {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto cover;
  background: bottom center scroll no-repeat; }

.section-padding {
  padding: 20px 0; }

.headings {
  margin: 25px 0; }

.img-spacing {
  padding: 0 0 !important; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

a {
  text-decoration: none !important; }

/* LAYOUT */
/*introduction*/
#introduction {
  background-color: #f0eee5; }
  #introduction h1 {
    margin-top: 0px !important; }
  #introduction h3 {
    font-size: 13px; }

/*portfolio-preview*/
#portfolio {
  margin: 25px 0; }

/*about*/
#about {
  background-color: #efc337; }

#about-me {
  margin-top: 25px; }

/*footer*/
hr {
  border: 1px solid #73797e; }

footer {
  background-image: url("../img/toronto-mobile.jpg") !important;
  height: 371px; }
  footer aside h3 {
    font-size: 13px; }
    footer aside h3 .links {
      color: #ffffff !important; }

/* NAVIGATION */
/* BOOTSTRAP RESETS */
.navbar {
  margin-bottom: 0px !important; }

.navbar-default {
  background-color: #f0eee5 !important;
  border-color: transparent !important; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #f0eee5; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #73797e; }

.navbar-default .navbar-toggle {
  border-color: #f0eee5; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #73797e;
  background-color: #f0eee5; }

/*Media Queries*/
/*Small Devices*/
@media (min-width: 768px) {
  /* Styles */
  p {
    font-size: 18px; }

  /*header*/
  header {
    background-image: url("../img/small-bkg.jpg") !important;
    height: 475px; }
    header #introduction {
      background-color: transparent;
      color: #ffffff !important;
      margin-top: 70px; }
      header #introduction h1 {
        font-size: 40px; }
      header #introduction h2 {
        font-size: 38px; }
      header #introduction #tel {
        color: #ffffff;
        font-size: 20px; }
      header #introduction .btn-ylw {
        font-size: 17px; }

  footer {
    background-image: url("../img/toronto-small.jpg") !important;
    height: 460px; }
    footer #sitemap {
      margin-top: 70px; }

  /*navigation*/
  .navbar-default {
    background-color: transparent !important;
    border-color: transparent !important; }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #efc337;
    font-family: "norwesterregular";
    letter-spacing: 1px;
    text-transform: capitalize; }

  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-family: "norwesterregular";
    letter-spacing: 1px;
    text-transform: capitalize; }

  #resume-btn h3 {
    font-size: 18px; }

  /*about*/
  #about a {
    margin-top: 15px; }
  #about #about-me {
    margin-top: 0; } }
/* End of Media Query */
/*Medium Devices*/
@media (min-width: 992px) {
  /* Styles */
  p {
    font-size: 20px; }

  /*header*/
  header {
    background-image: url("../img/medium-bkg.jpg") !important;
    height: 575px; }
    header #introduction {
      background-color: transparent;
      color: #ffffff !important;
      margin-top: 70px; }
      header #introduction h1 {
        font-size: 50px; }
      header #introduction h2 {
        font-size: 48px; }
      header #introduction #tel {
        color: #ffffff;
        font-size: 30px; }
      header #introduction .btn-ylw {
        font-size: 23px; }

  #resume-btn h3 {
    font-size: 23px; }

  footer {
    background-image: url("../img/toronto-medium.jpg") !important;
    height: 556px; }
    footer aside {
      padding-top: 60px; }
    footer #sitemap {
      margin-top: 80px; } }
/* End of Media Query */
/*Large Devices*/
@media (min-width: 1200px) {
  /* Styles */
  /*header*/
  header {
    background-image: url("../img/large-bkg.jpg") !important;
    height: 719px; }
    header #introduction {
      background-color: transparent;
      color: #ffffff !important;
      margin-top: 70px; }
      header #introduction h1 {
        font-size: 50px; }
      header #introduction h2 {
        font-size: 48px; }
      header #introduction #tel {
        color: #ffffff;
        font-size: 30px; }
      header #introduction .btn-ylw {
        font-size: 23px; }

  footer {
    background-image: url("../img/toronto-large.jpg") !important;
    height: 695px; }
    footer aside {
      padding-top: 60px; }
    footer #sitemap {
      margin-top: 80px; } }
/* End of Media Query */
/*Extra Large Devices*/
@media (min-width: 1824px) {
  /* Styles */ }
/* End of Media Query */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }

/*# sourceMappingURL=styles.css.map */
