
/*FONTS*/

@font-face {
  font-family: 'Didot-HTF-L24-Light-Ital';
  src: url('Didot-HTF-L24-Light-Ital.eot') format('embedded-opentype');
  src: url('../fonts/exmouth_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Didot-HTF-L24-Light-Ital.woff') format('woff'), 
         url('Didot-HTF-L24-Light-Ital.ttf') format('truetype'), 
         url('Didot-HTF-L24-Light-Ital.svg#Didot-HTF-L24-Light-Ital') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'norwesterregular';
    src: url('../fonts/norwester-regular-webfont.eot');
    src: url('../fonts/norwester-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/norwester-regular-webfont.woff2') format('woff2'),
         url('../fonts/norwester-regular-webfont.woff') format('woff'),
         url('../fonts/norwester-regular-webfont.ttf') format('truetype'),
         url('../fonts/norwester-regular-webfont.svg#norwesterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* GLOBAL */
	/*variables*/
$cover:cover;
$cta-height:330px;
$yellow:#efc337;
$beige:#f0eee5;
$black:#313335;
$white:#ffffff;
$grey:#73797e;

$btn-padding:10px 20px;
$nor:'norwesterregular';
$didot:'Didot-HTF-L24-Light-Ital';

@mixin background-size($cover){
	-webkit-background-size: $cover;
	-moz-background-size: $cover;
	-o-background-size: $cover;
	background-size: auto $cover;
}
	/*font styles / colours*/
.wht-font{
	color: $white;
}
.nor-font{
	font-family: $nor;
	letter-spacing: 1px;
}
.grey-font{
	color: $grey;
}
.blk-font{
	color: $black;
}
.didot-font{
	font-family: $didot;
}
	/*button styles*/
.btn-blk{
	padding: $btn-padding;
	background-color: $black;
	color: $white;
}
.btn-blk:hover{
	color: $white !important;
}
.btn-gry{
	padding: $btn-padding;
	border: $grey 2px solid;
	color: $grey;
}
.btn-gry:hover{
	color: $grey !important;
}
.btn-ylw{
	padding: $btn-padding;
	background-color: $yellow;
	color: $black;
}
.btn-ylw:hover{
	color: $black !important;
}
	/*general*/
.bkg-position{
	@include background-size($cover);
	background:top center scroll no-repeat;
}
.section-padding{
	padding: 20px 0;
}
.headings{
	margin: 25px 0;
}
.img-spacing{
	padding: 0 0 !important;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 16px;
}
a{
	text-decoration: none !important;
}

/* LAYOUT */
	/*introduction*/
#introduction{
	background-color: $beige;
		h1{
			margin-top:0px !important;
		}
		h3{
			font-size: 13px;
		}
}
	/*portfolio-preview*/
#portfolio{
	margin: 25px 0;
}	
	/*call-to-action*/
#about{
	background-color: $yellow;
}
	/*footer*/
hr{
	border: 1px solid $grey;
}
footer{
	background-image: url("../img/toronto-mobile.jpg") !important;
	height: 460px;
	aside{
		h3{
			font-size: 13px;
			
				.links{
					color: $white !important;
				}	
			
		}
	}
}
/* NAVIGATION */
/* BOOTSTRAP RESETS */
.navbar {
  margin-bottom: 0px !important; }

.navbar-default {
  background-color: $beige !important;
  border-color: transparent !important; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $beige; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: $grey; }

.navbar-default .navbar-toggle {
  border-color: $beige; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $grey;
  background-color:$beige; 
}
/*Media Queries*/

/*Small Devices*/
@media (min-width: 768px) {
	/* Styles */

}/* End of Media Query */

/*Medium Devices*/
@media (min-width: 992px) {
	/* Styles */
 
}/* End of Media Query */

/*Large Devices*/
@media (min-width: 1200px) {
	/* Styles */
 
}/* End of Media Query */

/*Extra Large Devices*/
@media (min-width: 1824px) {
  /* Styles */

}/* End of Media Query */


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}